<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
     <link href="/assets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <% include parcial/nav.ejs %>
    <h1>Contact</h1>
    <p>user's name contacts in this phone 126 5843 154</p>
</body>
</html>